.new-user{
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #6548ce;
  height: 80vh;
  min-height: 80vh;
}

.new-header{
  display: flex;
  flex-direction: column;
}

.new-header p,
.new-header h1,
.new-header strong{
  color: #6548ce;
}

.new-content{
  width: 80%;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 19px auto;
}

.new-content p{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
